.DS_Store
virt/
*.pyc
*.log
*.pot
__pycache__
.idea/workspace.xml
fairdate/db.sqlite3
.idea/couples-dilemma.iml
fairdate/**/migrations/
fairdate/core/migrations/
.idea
fairdate/core/migrations/0001_initial.py
